/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  background-color: white;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
}

.header__links-list-item {
  margin-left: 20px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;

}

.header__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.address {
  justify-self: end;
  max-width: 240px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-align: start;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}





.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 106px;
  padding: 165px 50px 50px 50px;
  background: url("../images/cover.jpg") no-repeat center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.cover__title {
  z-index: 2;
  color: white;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  text-align: left;
}

.aligned-text_center {
  display: block;
  margin-top: 20px;
  text-align: center;
}

.aligned-text_right {
  display: block;
  margin-top: 20px;
  text-align: right;
}

.cover__description {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 0.9em;
}

.bet-button {
  border: 1px solid #FFFFFF;
  padding: 12px 32px 11px 31px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
}

.lots {
  padding: 190px 24px 0px 24px;
  background-color: white;
}

.lots-header {
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap:25px;
  margin-bottom: 40px;
  list-style: none;
}

.lots__card-list-item {

  width: 334px;
  min-height: 356px;
}

.card-link {
  height: 100%; /* Добавляем по ТЗ */
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap:30px;
  height: 100%; /* Добавляем по ТЗ */
  padding: 48px 40px 48px 40px;
  
  
}

.card_type_film {
  background: url('../images/card-lot-01.jpg') no-repeat center;
  background-size: cover;
}

.card_type_book {
  background: url('../images/card-lot-02.jpg') no-repeat center;
  background-size: cover;
}

.card_type_picture {
  background: url('../images/card-lot-03.jpg') no-repeat center;
  background-size: cover;
}

.card__title {
  z-index: 2;
  color: white;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-transform: uppercase;
}

.card__text {
  z-index: 2;
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}


.lots__look-more-link {
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;

}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  gap: 25px;
  padding: 155px 24px 180px 24px;
  background-color: white;
  


}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: auto;
  border-radius: 120px;
  background-color: black;

}

.about__title {
  margin-top: 101px;
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;

}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-top: 26px;
  

}

.about__text-first {
  margin-right: 5px;
  margin-top: 0px;
}



.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 4px 50px 82px 50px;
  background-color: white;
}

.address_footer {
  justify-self: start;
  max-width: 264px;
  text-align: left;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
  gap:48px;
  list-style: none;
}
